@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-Dark-Blue: hsl(234, 12%, 34%);
  --grayish-Blue: hsl(229, 6%, 66%);
  --very-Light-Gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 98%);

}
html {font-size: 100%;}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--very-Light-Gray);
  font-family: Poppins, sans-serif;
  font-size: 15px;
}
footer {
  justify-content: center;
  align-items: center;
  display: flex;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 33.3vh;
  text-align: center;
}
.header h1 {
  margin-bottom: 0.5em;
  font-size: 2.9vw;
  font-weight: 400;
  color: var(--grayish-Blue);
  letter-spacing: -0.07vw;
}
.header h1 span {
  font-weight: 600;
  color: var(--very-Dark-Blue);
}
.header p {
  color: var(--grayish-Blue);
  font-weight: 400;
  font-size: 1.2vw;
  max-width: 100%;
  width: 550px;
}
/* div {
  position: fixed;
  top:10rem;
  background: white;
  width: 350px;
  height: 246px;
  border-radius: 0.5em;
  border: 1px solid hsl(0, 0%, 67%);
  border-top: 0;
  box-shadow: inset 0 4px+0+0 var(--red), 0 25px+25px+1px hsla(229, 6%, 66%, 0.3);
} */


.attribution { 
  position: absolute;
  top: 96%;
  font-size: 11px; text-align: center; 

}
.attribution a { color: hsl(228, 45%, 44%); }

/* Media Queries: Desktop */
@media screen and (max-width: 1440px) {
  .header { width:100%; }
  .attribution { width:100%; }
}

/* Media Queries: Mobile */
@media screen and (max-width: 375px) {
  .header { width:100%;
  font-size: 100vh; }
  .attribution { width:100%; }
}
